 @font-face {
    font-family: 'Amatica SC';
    src: url('/assets/AmaticaSC-Regular.ttf');
    font-weight: 'regular';
}
  
  @font-face {
    font-family: 'Amatica SC';
    src: url('/assets/AmaticaSC-Bold.ttf');
    font-weight: 'bold';
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .helado-page-1-text {
    padding-top: 10%;
  }
  
  .helado-page-1-head-copy {
      color: #BE3481;
      font-family: "Amatica SC";
      font-size: 5rem;
      text-align: center;
  }
  
  .helado-page-1-text-copy {
      color: #BE3481;
      font-family: "Amatica SC";
      font-size: 4rem;
      text-align: center;
  }
  
  .hero.helado-page-2-container {
      background: radial-gradient(circle at 0px 0px, #EB5545 0%, rgba(190,52,129,0.85) 60%);
  }
  
  .helado-page-2-copy {
      color: #FFFFFF;
      font-family: "Saira Semi Condensed";
      font-size: 3rem;
      font-weight: 300;
  }
  
  .hero.helado-page-3-container {
      background: radial-gradient(circle at 0px 0px, #B8FA92 0%, rgba(255,131,244,0.85) 80%);
  }
  
  .oval-vanilla {
    border-radius: 50%;
      height: 260px;
      width: 260px;
      background-color: #FFDD00;
  }
  
  .oval-strawberry {
    border-radius: 50%;
      height: 260px;
      width: 260px;
      background-color: #FF4C86;
  }
  
  .oval-chocolate {
    border-radius: 50%;
      height: 260px;
      width: 260px;
      background-color: #7A523A;
  }